body {
    margin: 20px;
}
.sortButton {
    width: 160px;
    height: 42px;
    color: white;
    background: blue;
    font-size: 20px;
    border-radius: 6px;
    margin-left: 20px;
}

#inputText {
    width: 235px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #c5cbd5;
}

#outLab {
    display: block;
    margin-top: 10px;
    color: #bb0628;
    width: 20%;
}